body{

    background-image: url(../images/quiz.png);
   
   
}


#fingerprint{
    font-family: 'Nanum Gothic Coding', monospace;
    width : 100vw; height : 10vh;
    background-color: black;   
    color : white;
    text-align: center;
    font-size : 20px;
    line-height: 10vh;
}


#question{
    font-family: 'Quicksand', sans-serif;
    background-color: greenyellow; 
    width: 100vw; height: 25vh;
    text-align : center;
    display : table-cell;
    vertical-align: middle;
    font-size : 40px;
}

#selectArea{
    
    width: 90vw; height: 45vh;
    margin : auto auto; margin-top : 10vh; margin-bottom: 10vh;
}

#answer{
    float : left;
    background-color : blue;
    width : 30vw; height : 45vh;
    margin-right : 15vw;
    text-align: center; 
    line-height: 45vh;
    font-size : 200px;
    border-radius: 50%;
    
}

#answer:hover{
    background-color : #F2F2F2;
    color : blue;
}


#wrongAnswer{
    float : left;
    background-color : red;
    width : 30vw; height : 45vh;
    margin-left : 15vw;
    text-align: center;
    line-height: 45vh;
    font-size : 200px;
    border-radius: 50%;
    
    
}

#wrongAnswer:hover{
    background-color : #F2F2F2;
    color : red;
}

#total{
    width : 100vw; height : 20vh;
    display : none;
 
}